/* Footer.css */

.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 100%;
    position: relative;
    bottom: 0;
    font-size: 0.9rem;
    color: #333;
    border-top: 1px solid #ddd;
  }
  
  .footer p {
    /* margin: 5px 0; */
    color: #555;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: #555;
    text-decoration: none;
    /* margin: 0 10px; */
    font-size: 0.9rem;
  }
  
  .footer-links a:hover {
    color: #333;
    text-decoration: underline;
  }
  